<div class="col-md-6 col-md-offset-3">
            <div class="jumbotron">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active"><img src="http://i.ytimg.com/vi/Tlr-uXmC35c/maxresdefault.jpg"></div>
                  <div class="item"><img src="http://i.ytimg.com/vi/nWgZWkZcRZ4/maxresdefault.jpg"></div>
                  <div class="item"><img src="http://i.ytimg.com/vi/k5CRCWTzlwA/maxresdefault.jpg"></div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
              <div class="jumbotron-contents">
                <h1>Rhymethis App</h1>
                <h2>Do you want to practice your freestyle habilities? This is your place!</h2>
                <p>More than 300 battles readdy to beat for you. Beat and words together in the same time in orther to make your freestyle tasks easiers.</p>
                <h2>All styles of music</h2>
                <p>More than 300 battles readdy to beat for you. Beat and words together in the same time in orther to make your freestyle tasks easiers.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

