
<p id="notice"><%= notice %></p> 
  <div class="col-md-6 col-md-offset-3" id='wrapper'>
 	<h1 id="word">tu palabra</h1>
            
 	 <div id="change-text" class="button"><span>Change Text</span></div>
 	 <div id="bonus" class="button"><span><i class="glyphicon glyphicon-star"></i> Bonnus <i class="glyphicon glyphicon-star"></i></span></div>
 	<h2 id="counter" class='col-md-2'>0</h2>

 </div>





  
  




<div class="col-md-12">
<p>
  <strong>Content:</strong>
  <p id="content"><%= @battle.content %></p>
</p>

<%= link_to 'Edit', edit_battle_path(@battle) %> |
<%= link_to 'Back', battles_path %>
</div>
<script>
	$("document").ready(function() {
  var options = {  videoId: 'QZAEV3UhhOc', 
                   start: 0, 
                   repeat: true
                };  
  
	$('#wrapper').tubular(options); 
}); 
</script>

<script src="http://www.seanmccambridge.com/tubular/js/jquery.tubular.1.0.js"></script>


<script>



				var split = document.getElementById('content').innerHTML.split(',');


				var nvalue = 0;
				var score = 0;
				$("#change-text").on("click", function() {

						document.getElementById('counter').innerHTML = score++;
						
						var word = split[nvalue++];
						document.getElementById('word').innerHTML = word;
						
				});



</script>
