// Place all the styles related to the battles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#wrapper{
	background-color: white;
	color: #434a54;
	border: none;
	        border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	   -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	   padding: 0 15px;
}






